.btn {
  color: $main-bg-color;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 6px;
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  &_large {
    padding: 10px 20px;
    font-size: 16px;
  }
  &_small {
    padding: 5px 10px;
    font-size: 12px;
  }
  &_full {
    width: 100%;
  }
  &_primary {
    background-color: $primary;
    &:enabled:hover {
      background-color: $primary-hover;
    }
  }
  &_success {
    background-color: $success;
    &:hover {
      background-color: $success-hover;
    }
  }
  &_danger {
    background-color: $danger;
    &:hover {
      background-color: $danger-hover;
    }
  }
  &_transparent {
    background-color: transparent;
    &:hover {
      transform: scale(1.2)
    }
  }
}
