$primary: #3e56c4;
$primary-hover: #1939cc;
$success: #4eb810;
$success-hover: #6be525;
$danger: #d20a0a;
$danger-hover: #8f0808;
$active: #f2f2f2;

$main-bg-color: #fff;
$main-border: rgba(10, 10, 10, 0.2);
$main-box-shadow:
  0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
  0 0 0 1px rgba(10, 10, 10, 0.02);
